<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>HOME</title>
   
</head>
<body>
    <div>
        <h1>HOME PAGE</h1>
        <p>I am working fine</p>
        <button  id="signin"  onclick="window.location.href='/auth/signin' ">Login</button>
        <button id="signup"  onclick="window.location.href='/auth/signup' ">Signup</button>
    </div>
    <script src="/home.js"></script>
</body>
</html>